.DS_Store
/Pods/
Attributor.xcworkspace
Podfile.lock
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.xcodeproj/xcuserdata/*
*.xcodeproj/project.xcworkspace/xcuserdata/*
.idea/
Attributor.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
Attributor.xcworkspace/xcshareddata/designboard.xccheckout
node_modules
/Pods/*
